body{
background-image:url(compose.webp);
background-size: 100% 950px;
background-repeat: no-repeat;


}
main:hover{
transform: scale(0.6);
transition: transform 0.8s ease;
overflow: hidden;

}

div{
 
margin:90px auto;
margin-left: 70px;
display: flex;
align-items: center;
justify-content: center;



}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(3, 1fr);
gap: 40px;

  
}

.grid-item:first-child{
  grid-column: 1 / 3;
   grid-row: 1 / 7;
  width: 100%;
 height: 100%; 
 background-image: url(cars211.webp);
 background-repeat: no-repeat;
background-size: 100% 100%;
}

.grid-item:nth-child(2){
  grid-column: 3 / 5;
   grid-row: 1 / 3;
     grid gap: 10px;
  width: 100%;
 height: 100%; 
 background-repeat: no-repeat;
 background-image:url(images.jpg);
    background-size: 100% 100%;

}

.grid-item:nth-child(3) {
    grid-column: 3/ 5;
     grid-row: 3 / 7;
         grid gap: 10px;
    width: 100%;
     height: 100%; 
        background-size: 100% 100%;
     background-repeat: no-repeat;
     background-image:url(OIP.jpg);
}
.grid-item:nth-child(4) {
 grid-column: 5/ 7;
 grid-row:  1/ 2;       
 grid gap: 10px;
  width: 100%;
 height: 100%; 
background-size: 100% 100%;
 background-repeat: no-repeat;
  background-image:url(images.webp);        
}

.grid-item:nth-child(5) {
    grid-column: 5/ 7;
    grid-row:  2/ 7;       
    grid gap: 10px;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image:url(download.jpg);

}




