*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: cursive;
}

body{
 background-color: rgb(94, 82, 74);
}

main{
width: 80%;
margin: 150px auto;
}


.grid-container{
padding: 15px;
background-color: blueviolet;
display: grid;
gap: 20px; 
grid-template-columns: 5fr 1fr 4fr

}

.grid-item{

padding: 25px;
font-size: 30px;
background-color: rgb(141, 15, 15);
border-radius: 8px;
color: #fff;
text-align: center;
}

.grid-item:first-child{
 grid-area: 1 / 1;
}


.grid-item:nth-child(8){
grid-column-start:3 ;
grid-column-end 4:  ;
grid-row-start:5 ;
grid-row-end:6 ;
}
